@import "../../styles/variables.scss";

.quiz-question{
    margin: 1em 1em 1em 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

.answer-tile{
    width: 30em;
    padding: 0.9em;
    margin: 0 2em;
    border-radius: 1em;
    border: solid 1px var(--accent-color-2);
    cursor: pointer;
    
    &:hover{
        box-shadow: 2px;
        color: var(--accent-color-3);
    }
}

.check-answer{
    bottom: 0.25em;
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 0.5em;
    width: 100%;
}

.check-answer-button{
    font-size: 64px;
    border-radius: 1em;
    border: 1px solid var(--accent-color-3);
    height: 1.5em;
    width: 35%;
    min-width: 6.5em;
    background-color: var(--accent-color-2);
    &:active{
        background-color: var(--accent-color-3);
        box-shadow: 1em var(--accent-color-2);
        border: none;
    }
}

.correct-answer{
    background-color: rgb(var(--correct-answer-raw), 0.5);
}

.wrong-answer{
    background-color: rgb(var(--wrong-answer-raw), 0.5);
}

.quiz-tiles{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 1em;
    min-height: 100vh;
}