.quiz-banner{
    border: solid 0.2em var(--accent-color-3);
    border-radius: 1.2em;
    margin: 0.5em;
}

.header-numbers-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
