@import "./variables.css";

body{
    /* background-color: var(--background-color); */
}

.quiz-question{
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column-reverse;
}

.answer-tile{
    width: 60vw;
    padding: 0.9em;
    margin: 2em;
    border-radius: 1em;
    border: solid 1px var(--accent-color-2);
}
.check-answer{
    display: flex;
    align-items: center;
    height: 3em;
    flex-direction: row;
    justify-content: space-around;
}

.check-answer-button{
    border-radius: 1em;
    height: 2em;
    width: 12.5em;
    background-color: var(--accent-color-2);
}

.correct-answer{
    background-color: rgb(var(--correct-answer-raw), 0.5);
}

.wrong-answer{
    background-color: rgb(var(--wrong-answer-raw), 0.5);
}