@import "./variables.css";

body{
    background-color: var(--background-color);
}

.quiz-question{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    justify-items: center;
}

.question-tile{
    grid-column-start: 1;
    grid-column-end: 4;
}

.answer-tile{
    height: 150px;
    width: 300px;
    padding: 15px;
    margin: 30px;
    border-radius: 15px;
    border: solid 1px rgb(5, 243, 96);
}
.check-answer{
    width: 600px;
    display: flex;
    align-items: center;
    height: 50px;
    grid-column-start: 1;
    grid-column-end: 4;
    flex-direction: row;
    justify-content: space-around;
}

.check-answer-button{
    border-radius: 15px;
    height: 40px;
    width: 200px;
}

.current-answer{
    background-color: lightblue;
}

.correct-answer{
    background-color: green;
}

.wrong-answer{
    background-color: red;
}