.quiz-banner{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: solid 0.2em var(--accent-color-3);
    border-radius: 1.2em;
    margin: 0.5em;
    padding: 0.4em;
}

.header-numbers-wrapper{
    padding-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
